*.png
*.rect
*.rgm
*.rgol
*.spr
*.spr2

monster_map1.txt
monster_map2.txt
monster_mapi1.txt
monster_mapi2.txt
monster_mapi3.txt
rubylist.txt
rubylist_android.txt
sell01.dat
sell02.dat
spr_emoticon.txt
waypoint.dat
waypoint2.dat